body {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: aqua;
}

.navbar {
    width: 100%;
    height: 60px;
    overflow: hidden;
    background-color: red;
}

.content {
    width: 1024%;
    height: auto;
    overflow: hidden;
    background-color: blue;
}

.col1 {
    width: 23%;
    float: left;
    height: 300px;
    background-color: pink;
}

.col2 {
    width: 50%;
    float: left;
    height: 300px;
    background-color: yellow;
}

.col3 {
    width: 23%;
    float: right;
    height: 300px;
    background-color: purple;
}